<section class="card">

  <div class="card-header">
    <div class="columns">
      <div class="column">
        <h2 class="card-title float-left">Basic Information</h2>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form>
      <div class="columns">
        <div class="column col-sm-4">
          <div class="columns">
            <div class="column">
              <img src="{{picUrl}}" alt="User profile" class="avatar avatar-xl">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <button class="btn btn-sm" id="img-select">Choose Picture</button>
              <input type="file" accept="image/*" class="hide" id="img-input">
            </div>
          </div>
        </div>
        <div class="column col-sm-8">
          <div class="columns">
            <div class="column">
              <label class="form-label" for="name-input">Name</label>
              <input class="form-input" id="name-input" type="text" value="{{name}}">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="form-label" for="email-input">Email</label>
              <input class="form-input" id="email-input" type="text" value="{{emailAddr}}">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="form-group">
                <button class="submit btn btn-primary" type="submit">Submit</button>
                <button class="cancel btn" type="reset">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>
