<section class="card">

  <div class="card-header">
    <div class="columns">
      <div class="column col-sm-9">
        <h2 class="card-title float-left">Basic Information</h2>
      </div>
      <div class="col-sm-3">
        <button class="edit btn float-right">Edit</button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="columns">
      <div class="column col-sm-4">
        <img class="avatar avatar-xl" src="{{picUrl}}" alt="User profile picture"/>
      </div>
      <div class="column col-sm-8">
        <div class="columns">
          <div class="column">
            <span>{{name}}</span>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <span><a href="{{mailTo}}">{{emailAddr}}</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
